.card {
padding: 10px;
}

.btn {
  position: absolute;
  left: 30px;
  top:30px;
  cursor: pointer;
}

.logo {
  display: block;
  max-width: 300px;
  margin: auto;
}

.title{
  font-size: 20px;
  color: black;
}
.table{
  margin: auto;

}
